// Typography
$elc-font: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;

// Width rules
$max-width: 1920px;

// Media queries
$landscape-up: 1024px;
$potrait-up: 768px;

// Colors
$color-black: #1A1A1A;